[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "==21.7.0"
fastapi = "==0.78.0"
pytest = "==7.1.2"
autopep8 = "==1.6.0"
uvicorn = {extras = ["standard"], version = "==0.17.6"}
requests-toolbelt = "==0.9.1"
pytz = "==2022.1"
minio = "*"
loguru = "*"
redis = "*"
elasticsearch = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
build = "docker buildx build -f Dockerfile --platform linux/amd64 -t dockerhub.qingcloud.com/qingtest/tink:1.0 . --push"
chart = "sh scripts/push-chart.sh"
