[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "==21.7.0"
fastapi = "==0.78.0"
pytest = "==7.1.2"
autopep8 = "==1.6.0"
uvicorn = {extras = ["standard"], version = "==0.17.6"}
requests-toolbelt = "==0.9.1"
pytz = "==2022.1"
minio = "==7.1.11"
loguru = "==0.6.0"
elasticsearch = "==8.4.0"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
chart = "sh scripts/push-chart.sh"
dev = "docker buildx build -f Dockerfile --platform linux/amd64 -t dockerhub.qingcloud.com/qingtest/tink:dev . --push"
test = "docker buildx build -f Dockerfile --platform linux/amd64 -t dockerhub.qingcloud.com/qingtest/tink:test . --push"
prod = "docker buildx build -f Dockerfile --platform linux/amd64 -t dockerhub.qingcloud.com/qingtest/tink:1.0 . --push"
